{* This is the welcome page, you can delete it *}

<!-- Latest compiled and minified CSS -->

{block content}
    <style>
        #frm-editForm-description {
            height: 250px;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <div style="width: 50%; margin-left: 20%; margin-top: 1%;">
        <h1 style="padding-left: 13%;">Editace produktu</h1>
        {control editForm}

    </div>>
{/block}